{% load humanize %}
{% load static %}
{% load staticfiles %}

<nav class="navbar navbar-dark bg-success" style="justify-content: space-evenly">
    <a class="navbar-brand" href="{% url 'legacy-dashboard' %}">
        <img src="{% static "favicon.ico" %}" width="30" height="30" class="d-inline-block align-top"  alt="Bidpazari" />
        <span class="ml-n1">Bidpazari</span>
    </a>
    <div class="text-light text-bold">
        {% if user.is_authenticated %}
            Balance: ${{ user.runtime_user.initial_balance|floatformat:2|intcomma }}
            <small>
                <a class="text-light" href="{% url 'legacy-add-balance' %}">(add)</a>
            </small>
        {% endif %}
    </div>
    <div class="">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-light" href="{% url 'legacy-logout' %}">
                Logout
            </a>
        {% else %}
            <a class="btn btn-outline-light" href="{% url 'legacy-login' %}">
                Login
            </a>
        {% endif %}
    </div>
</nav>
