{% load static %}
{% load staticfiles %}

{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>

    {% render_bundle 'main' 'css' %}

    <title>Bidpazari - {% block title %}{% endblock %}</title>
</head>
<body>
{% block navbar %}
    {% include "core/__navbar.html" %}
{% endblock %}
{% block page %}
    <div class="container">
        {% if messages %}
            <div class="row mt-3">
                <div class="col">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row mt-3">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block jsbody %}
    {% render_bundle 'main-vendor' 'js' attrs='defer' %}
    {% render_bundle 'main' 'js' attrs='defer' %}
{% endblock %}

</body>
</html>
