{% extends "core/__base.html" %}

{% load staticfiles %}

{% load core.tags %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h3>
        Your Items
    </h3>
    <table class="table table-hover table-responsive-sm">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
            <th>
                <a class="btn btn-primary" href="{% url 'add-item' %}">
                    Add
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <img style="max-height: 100px" src="{{ item.image|item_image }}" alt="{{ item.title }}" width="100" />
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.description | default:"-" }}</td>
                <td>
                    {% if item.on_sale %}
                        <a class="btn btn-info" href="{% url 'auction-details' pk=item.current_uhi.id %}">
                            View Auction
                        </a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'create-auction' pk=item.id %}">
                            Sell
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-secondary" href="{% url 'edit-item' pk=item.id %}">
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
    </ul>
{% endblock %}
