{% extends "core/__base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Bidpazari!</h1>
            <p class="lead">It's like eBay, but much worse.</p>
            <hr class="my-4">
            <p>{% lorem %}</p>
            <a class="btn btn-primary btn-lg mr-1" href="{% url "signup" %}" role="button">Sign up</a>
            <a class="btn btn-outline-primary btn-lg" href="{% url "login" %}" role="button">Log in</a>
        </div>
    {% endif %}
    <h3>Links</h3>
    <p>Here are links to various pages that may be helpful:</p>
    <dl>
        <dt><a href="{% url 'ws-server' %}">WS Server</a></dt>
        <dd>Follow this link to start the Pazar.</dd>
        <dt><a href="{% url 'ws-client' %}">WS Client</a></dt>
        <dd>The Bidpazari WebSocket Client.</dd>
        <dt><a href="{% url 'admin:index' %}">Admin</a></dt>
        <dd>The Django admin page.</dd>
    </dl>
{% endblock %}
