{% extends "core/__base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <h4 class="">Reset password</h4>
    <hr />
    <form action="{% url 'reset-password' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">
            Reset your password
        </button>
        <a href="{% url 'index' %}" class="btn btn-secondary ml-2">
            Go Back
        </a>
    </form>
{% endblock %}
